html, body, main, header{
	height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

iframe {
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

a {
    position: absolute;
    top: 2%;
    left: 2%;
}

h3 {
	position: absolute;
    top: 2%;
    left: 40%;
    background-color: white;
    padding: 0.2rem;
    font-size: 30px;
}

.mudardestino{
	position: absolute;
    top: 2%;
    right: 20%;
}

button {
	text-align: center;
	align-items: flex-end;
	border: none;
	border-radius: 1rem;
    background-color: #F5D335;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    bottom: 3%;
    right: 34%;
}