/* Color Theme Swatches in Hex */
.paletaalt-1-hex { color: #3641F5; }
.paletaalt-2-hex { color: #1E8DFC; }
.paletaalt-3-hex { color: #27D9E6; }
.paletaalt-4-hex { color: #1EFCA4; }
.paletaalt-5-hex { color: #31F54C; }
