/* Color Theme Swatches in Hex */
.paletaprin-1-hex { color: #938AF5; }
.paletaprin-2-hex { color: #C280FF; }
.paletaprin-3-hex { color: #BB36E6; }
.paletaprin-4-hex { color: #FFC753; }
.paletaprin-5-hex { color: #F5D335; }